.book-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.book-image {
    width: 200px;
    height: 300px;
    object-fit: cover;
}

.book-title {
    margin-top: 1rem;
    font-size: 1.5rem;
    text-align: center;
}

.book-price {
    margin-top: 1rem;
    font-size: 1.2rem;
}

.book-author {
    margin-top: 0.5rem;
    font-size: 1.2rem;
    text-align: center;
}

.book-summary {
    margin-top: 1rem;
    font-size: 1rem;
    text-align: justify;
    padding: 0 1rem;
}

.book-isbn {
    margin-top: 0.5rem;
    font-size: 1.2rem;
}