body {
    font-family: 'Helvetica', sans-serif;
    background-color: #E8E8E8;
    color: #333;
    line-height: 1.6;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #A8A8A8;
    color: white;
}

nav {
    background-color: #A8A8A8;
    padding: 15px;
    color: white;
}


nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    margin: 0;
}



nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color: #007BFF;
}

section {
    padding: 20px;
}

article {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #ffffff;
    border: 2px solid black;
}

button {
    background-color: #007BFF;
    border: 2px solid #000000;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #00BFFF;
}

form input[type=submit] {
    background-color: #007BFF;
    border: 2px solid #000000;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50px;
    transition: background-color 0.3s;
}

form input[type=submit]:hover {
    background-color: #00BFFF;
}

img {
    width: 200px;
    height: 300px;
    object-fit: cover;
}

.back {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    border-radius: 25px;
    background: linear-gradient(to right, #0072ff, #00c6ff);
    transition: background 0.5s;
    margin: 10px;
    border: 2px solid #000000;
}

.back:hover {
    background: linear-gradient(to right, #00c6ff, #0072ff);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    text-align: center;
    padding: 20px;
}

#search {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #555;
    border-radius: 4px;
    outline: none;
}

#search:focus {
    border: 3px solid #007BFF;
}

.navButton {
    background-color: #007BFF;
    border: 1px solid #000000;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    margin: 0;
    transition: background-color 0.3s;
}

.navButton:hover {
    background: linear-gradient(to right, #00c6ff, #ffffff);
}

.detailsLink {
    background-color: #008080;
    border: 2px solid #000000;
    color: white;
    padding: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50px;
    transition: background-color 0.3s;
}

.detailsLink:hover {
    background: linear-gradient(to right, #20B2AA, #ffffff);
}



.featured,
.top-sellers {
    border: 4px solid black;
    padding: 10px;
    margin-bottom: 20px;
}

.topPage {
    border: 4px solid rgb(0, 0, 0);
    padding: 0px;
    margin-bottom: 20px;
}
