.navbar ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.navbar li {
    display: inline-block;
}

.nav-link {
    padding: 10px;
    text-decoration: none;
    background-color: #007BFF;
    color: white;
    transition: background-color 0.3s ease;
    border: 2px solid black;
    border-radius: 10%;
}

.nav-link:hover {
    background-color: #0056b3;
}

.nav-logo {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.cart-logo {
    margin-right: 20px;
}


.buttons-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}